@model IEnumerable<ApplicationUser>

@{ ViewBag.Title = "All Users";}
<h2>All USers</h2>
@if (Model.Any())
{
    <a class="btn btn-primary" asp-controller="Account" asp-action="Registration" style="width:auto">Create User</a>
    foreach (var user in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                Role Id:@user.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@user.UserName</h5>
            </div>
            <div class="card-footer">
                <form asp-action="DeleteUser" asp-controller="Administration" asp-route-id="@user.Id" method="post">
                    <a asp-controller="Administration" asp-action="EditUser" asp-route-id="@user.Id" class="btn btn-primary">Edit</a>
                    <span id="ConfirmDeleteSpan_@user.Id" style="display:none">
                        <span>
                            Are You Sure You Want To Delete this User?
                            <button type="submit" class="btn btn-danger">Yes</button>
                            <a href="#" class="btn btn-primary" onclick="confirmDelete('@user.Id', false)">No</a>
                        </span>
                    </span>
                    <span id="DeleteSpan_@user.Id">
                        <a href="#" class="btn btn-danger" onclick="confirmDelete('@user.Id', true)">Delete</a>
                    </span>
                </form>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">No Role Created Yet</div>
        <div class="card-body">
            <h4>Use the create role button</h4>
            <a class="btn btn-primary" asp-controller="Account" asp-action="Registration"
               style="width:auto">Create User</a>
        </div>

    </div>
}

@section Scripts{
    <script src="~/Js/CustomScript.js"></script>
}